<a href="https://colab.research.google.com/github/Mario-RJunior/Departamento-vendas-forecasting/blob/main/forecasting_vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Departamento de vendas

## Importação das bibliotecas e base de dados

In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

### Dados das vendas

In [2]:
# Carregando a base de dados
sales_train_df = pd.read_csv('/content/train.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Visualizando shape
l, c = sales_train_df.shape
print('Número de registros: {} \nNúmeros de coluna: {}'.format(l, c))

Número de registros: 1017209
Números de coluna: 9

In [7]:
# Visualizando o cabeçalho
sales_train_df.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [14]:
# Visualizando os últimos registros
sales_train_df.tail()

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[5 rows x 9 columns]

In [13]:
# Visualizando valores únicos das vendas
day = sales_train_df['DayOfWeek'].unique()
open = sales_train_df['Open'].unique()
promo = sales_train_df['Promo'].unique()
state_holiday = sales_train_df['StateHoliday'].unique()
school_holiday = sales_train_df['SchoolHoliday'].unique()

print('Dias da semana: {} \nAberta ou fechada: {} \nPromoção: {} \nFeriado: {} \nFeriado escolar: {}'\
      .format(day, open, promo, state_holiday, school_holiday))

Dias da semana: [5 4 3 2 1 7 6]
Aberta ou fechada: [1 0]
Promoção: [1 0]
Feriado: ['0' 'a' 'b' 'c' 0]
Feriado escolar: [1 0]

In [15]:
# Informações
sales_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [16]:
# Visualizando estatísticas
sales_train_df.describe()

              Store     DayOfWeek  ...         Promo  SchoolHoliday
count  1.017209e+06  1.017209e+06  ...  1.017209e+06   1.017209e+06
mean   5.584297e+02  3.998341e+00  ...  3.815145e-01   1.786467e-01
std    3.219087e+02  1.997391e+00  ...  4.857586e-01   3.830564e-01
min    1.000000e+00  1.000000e+00  ...  0.000000e+00   0.000000e+00
25%    2.800000e+02  2.000000e+00  ...  0.000000e+00   0.000000e+00
50%    5.580000e+02  4.000000e+00  ...  0.000000e+00   0.000000e+00
75%    8.380000e+02  6.000000e+00  ...  1.000000e+00   0.000000e+00
max    1.115000e+03  7.000000e+00  ...  1.000000e+00   1.000000e+00

[8 rows x 7 columns]

### Dados das lojas

In [21]:
# Carregando a base de dados
stores_info_df = pd.read_csv('/content/store.csv')

In [22]:
# Visualizando shape
l, c = pd.read_csv('/content/store.csv').shape
print('Número de registros: {} \nNúmeros de coluna: {}'.format(l, c))

Número de registros: 1115
Números de coluna: 10

In [23]:
# Visualizando o cabeçalho
stores_info_df.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [24]:
# Informações
stores_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [25]:
# Visualizando estatísticas
stores_info_df.describe()

            Store  CompetitionDistance  ...  Promo2SinceWeek  Promo2SinceYear
count  1115.00000          1112.000000  ...       571.000000       571.000000
mean    558.00000          5404.901079  ...        23.595447      2011.763573
std     322.01708          7663.174720  ...        14.141984         1.674935
min       1.00000            20.000000  ...         1.000000      2009.000000
25%     279.50000           717.500000  ...        13.000000      2011.000000
50%     558.00000          2325.000000  ...        22.000000      2012.000000
75%     836.50000          6882.500000  ...        37.000000      2013.000000
max    1115.00000         75860.000000  ...        50.000000      2015.000000

[8 rows x 7 columns]